/* 1024px 470px */

/* General Styles */
html {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: helvetica;
}

.box {
  display: flex;
  max-width: 960px;
  margin: auto;
}

/* Header Styles */
header {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

/* Navigation Bar Styles */
header div {
  display: flex;
  align-items: center;
}

nav {
  margin-right: 1rem;
}

nav span {
  padding: 1rem;
}

.mobile {
  display: none;
}

.bar {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  color: white;
  justify-content: space-between;
  margin-top: 1rem;
}

.logo {
  margin-left: 2rem;
  margin-right: 1rem;
  height: 1.5rem;
}

/* Main Banner Styles */
#banner {
  justify-content: flex-end;
}

.banner {
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
    padding-top: 0;
  }

  .box {
    max-width: 100%;
  }

  .bar {
    margin-top: 0;
  }

  .banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .banner h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 470px) {
  header {
    background-position: 20%;
  }

  .menu {
    display: none;
  }

  .mobile {
    display: block;
  }

  .banner {
    width: 100%;
    padding: 1rem 0;
    margin-top: 9rem;
    text-align: center;
  }

  .banenr h1 {
    font-size: 1rem;
  }
}

/* Services Styles */
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
 }

 .services div {
  align-items: center;
 }

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;;
  margin: 3rem;
  text-align: center;
}

.service img {
  width: 5em;
  margin-bottom: 1.5rem;
}

.service img.paper {
  width: 3.5rem;
}

/* Information Styles */
.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.info p {
  padding-top:1rem;
}

.title {
  max-width: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-weight: bold;
  color: white;
}

/* Footer Styles*/
footer {
  background-color: azure;
}

footer div {
  display: flex;
  align-items: flex-start;
  padding: 4rem;
}

footer .logo {
  margin-left: 4rem;
  margin-right: 1rem;
  height: 1.5rem;
}