/************************************************
                GENERAL STYLES
************************************************/
/* 1024px 470px screen size*/
/*General Style */
html {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: helvetica;
}

.box {
  display: flex;
  max-width: 960px;
  margin: auto;
}

/************************************************
                HEADER STYLES
************************************************/
/*Header Styles*/
header {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

/*Navigation Bar Styles*/
header div {
  display: flex;
  align-items: center;
}

nav {
  margin-right: 1rem;
}

nav span {
  padding: 1rem;
}

.mobile {
  display: none;
}

.bar {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  color: white;
  justify-content: space-between;
  margin-top: 1rem;
}

.logo {
  margin-left: 2rem;
  margin-right: 1rem;
  height: 1.5rem;
}

/*Banner Styles*/
#banner {
  justify-content: flex-end;
}

.banner {
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

/*Header Styles for Tablet*/
@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
    padding-top: 0;
  }

  .box {
    max-width: 100%;
  }

  .bar {
    margin-top: 0;
  }

  .banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .banner h1 {
    font-size: 1.33rem;
  }
}

/*Header Styles for Mobile*/
@media only screen and (max-width: 470px) {
  header {
    background-position: 20%;
    height: 17rem;
  }

  .menu {
    display: none;
  }

  .mobile {
    display: block;
    padding: 1rem;
  }

  .banner {
    width: 100%;
    padding: 1rem 0;
    margin: 9rem auto 0 auto;
    text-align: center;
  }

  .banenr h1 {
    font-size: 1rem;
  }
}

/************************************************
                CONTENT STYLES
************************************************/
/************************************************
                Services Styles
************************************************/
/*Services Styles*/
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
 }

 .services div {
  align-items: center;
 }

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;;
  margin: 3rem;
  text-align: center;
}

.service img {
  width: 5em;
  margin-bottom: 1.5rem;
}

.service img.paper {
  width: 3.5rem;
}

/*Content Styles for Mobile*/
@media only screen and (max-width: 470px) {
  .content {
    flex-direction: column;
    margin-top: 3.77rem;
    align-items: center;
  }

  .service {
    font-size: 0.77rem;
    margin: 0;
    padding-bottom: 1.54rem;
    height: auto;
  }

  .truck {
    padding-bottom: 0;
  }
}

/************************************************
                Information Styles
************************************************/
/*Information Styles*/
.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.info p {
  padding-top:1rem;
}

.title {
  width: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-weight: bold;
  color: white;
}

/*Information Styles for Mobile*/
@media only screen and (max-width: 470px) {
  .info {
    width: 100%;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .info p {
    padding: 1rem;
    font-size: 0.77rem;
    text-align: left;
  }
}

/************************************************
                FOOTER STYLES
************************************************/
/*Footer Styles*/
footer {
  background-color: azure;
}

footer div {
  display: flex;
  align-items: flex-start;
  padding: 4rem;
}

footer .logo {
  margin-left: 4rem;
  margin-right: 1rem;
  height: 1.5rem;
}

/*Footer Styles for Mobile*/
@media only screen and (max-width: 470px) {
  footer {
    justify-content: center;
  }

  footer span {
    display: none;
  }
}